<template>
    <div>
        <h1>Counter</h1>

        <p>This is a simple example of a Vue.js component.</p>

        <p>Current count: <strong>{{ currentcount }}</strong></p>

        <button @click="incrementCounter" class="btn btn-primary">Increment</button>
    </div>
</template>

<script src="./counter.ts"></script>
