﻿<template>
    <div>
        <div class="row">
            <h1>Todo</h1>
            <div v-if="items().length">
                <todo-table :items="items()" :select="selectRow" :current="current().id"></todo-table>
                <br />
                <h4>Редактировать Todo</h4>
                <div class="form-group">
                    <input type="checkbox" :checked="current().isComplite" v-model="current().isComplite" />
                    <input type="text" v-model="current().name" />
                    <button class="btn btn-primary" v-on:click="save()">Сохранить</button>
                    <button class="btn btn-warning" v-on:click="canselEdit()">Отмена</button>
                </div>
            </div>
            <p v-else><em>Добавьте Todo</em></p>

            <h4>Создать Todo</h4>
            <div>
                <div class="form-group">
                    <input type="text" v-model="newTodo" />
                    <button class="btn btn-primary" v-on:click="add()">Создать</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./todo.ts"></script>