﻿<template>
    <table class="table">
        <thead>
            <tr>
                <th>Выполнена</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in items" v-on:click="select(item.id)" :class="getRowClass(item.id)">
                <td><input type="checkbox" :checked="item.isComplite" disabled="disabled" /></td>
                <td>{{ item.name }}</td>
                <td><a :href="'todo/delete/'+item.id" class="btn btn-danger">Удалить</a></td>
            </tr>
        </tbody>
    </table>
</template>
<script src="./todoTable.ts"></script>