﻿<template>
    <div>
        <div class="row">
            <h1>Удалить Todo</h1>  
            <div v-if="current().id">
                <label>{{current().name}}</label>
                <br />
                <label><input type="checkbox" :checked="current().isComplite" disabled="disabled" /></label>
                <br />
                <button class="btn btn-primary" v-on:click="deleteTodo">Удалить</button>
            </div>
            <p v-else><em>Не удалось найти Todo с id {{$route.params.id}}</em></p>
        </div>
    </div>
</template>
<script src="./delete.ts"></script>